<!-- Nlog.config for PostgreSQL -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogLevel="Trace" internalLogFile="nlog-internal.log">
	<extensions>
		<add assembly="NLog.Database"/>
	</extensions>
	<targets>
		<target xsi:type="Database" name="database"
				dbProvider="Npgsql.NpgsqlFactory, Npgsql"
				connectionString="Host=localhost;Port=5432;Database=TreeNodeDB;Username=postgres;Password=postgres;"
				commandText="INSERT INTO Journals (EventId, Text, CreatedBy, ModifiedBy, CreatedOnUtc, ModifiedOnUtc, LogLevel) 
				VALUES (@eventId, @text, @createdBy, @modifiedBy, @createAt, @modifyAt, @level)">
			<parameter name="@eventId" layout="${event-properties:EventId:whenEmpty=0}" dbType="Int64" />
			<parameter name="@text" layout="${message}" dbType="String" />
			<parameter name="@createdBy" layout="${environment-user}" dbType="String" />
			<parameter name="@modifiedBy" layout="${environment-user}" dbType="String" />
			<parameter name="@createAt" layout="${date:universalTime=true:format=o}" dbType="DateTime" />
			<parameter name="@modifyAt" layout="${date:universalTime=true:format=o}" dbType="DateTime" />
			<parameter name="@level" layout="${level}" dbType="String"/>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="database" />
	</rules>
</nlog>